* { margin: 0; padding: 0; }
.full {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px;
    height: 100vh;
    font-family: Calibri;
}
header {
    background: #333;
    padding: 2px 0;
}
    header>div {
        max-width: 780px;
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 auto;
        align-items: center;
    }
    .header__title {
        text-align: center;
        color: #fff;
        font-size: 1.2em;
    }
    .header__button {
        display: grid;
        justify-content: right;
        padding-right: 5px;
    }
main {
    max-width: 780px;
    padding: 10px;
    margin: 0px auto;
    background: #ecf6ff;
}
    .table_good {
        text-align: center;
        width: 100%;
    }
    .table_good th {
        background: #e5e5e5;
        font-size: 1.2em;
        border: 1px solid #fff;
        padding: 4px 10px;
    }
    .table_good td {
        font-size: 1.2em;
        border: 1px solid #aaa;
        padding: 4px 10px;
    }
    .del {
        padding: 0px 4px!important;
    }
    .grid_sum {
        display: grid;
        justify-content: start;
        grid-template-columns: auto auto;
    }
    .grid_sum div:nth-child(2) {
        font-weight: bold;
        margin-left: 4px;
    }
    .form_good {
        display: grid;
        grid-template-columns: 1fr;
    }
        .form_grid > div {
            display: grid;
            grid-template-columns: 20% 80%;
            padding: 5px 0;
        }
.form-info-text {
    font-size: 0.8em;
}

footer {
    display: grid;
    background: #333;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    align-items: center;
}
